/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body{
  background-image: url("bkpicture.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
 
button{
  display: block;
  width: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
legend{
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quiz{
  background-color:rgba(180, 191, 183, 0.7);
  align-items: center;
  border-radius: 25px;
  margin: 0px, 5px, 0px, 5px; 
  border: 20px;
  padding: 3.5%;
  width: 90%;
}

.main{
  background-color:rgba(180, 191, 183, 0.7);
  align-items: center;
  border-radius: 25px;
  margin: 30px 80px 30px 80px;
  border: 20px;
  padding: 3.5%;
}
/*title*/
h1{
  text-align: center;
  margin: 35px;
  padding: 35px;
  font-family: 'Nova Round', cursive;
  font-size: 40px;
}
/*questions & last page*/
legend{
  font-size: 26px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0.7%;
}
/*question count and score*/
h2{
  /*width: 100px;
  margin: auto;
  padding: 5px;*/
  font-size: 25px;
  justify-content: space-between;
}

label:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
/*answer choices*/
label{
  padding: 10px;
  font-size: 23px;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.wrapper{
border-radius: 25px;
border: 20px;
padding: 1%;
width: 100%;
justify-content: center;
align-items: center;
}

/*wrong feed*/
.feed{
  text-align: center;
  padding: 2%;
}
/*correct feed*/
.correctfeed{
  text-align: center;
  padding: 5%;
}
/*main page, starting page*/
.firstpage{
  text-align: center;
  font-size: 30px;
  font-family: 'Nerko One', cursive;
  padding: 6.5%;
}
/*last score page*/
.lastpage{
  display: flex;
  justify-content: center;
}
@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }